@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
}

#header {
    height: 100vh;
    background-image: url(Images/background.png);
    background-position: center;
    background-size: cover;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    width: 100px;
    margin-top: 30px;
}

.header-text {
    max-width: 350px;
    margin-top: 140px;
}

.square {
    height: 12px;
    width: 12px;
    background: #f97c92;
    display: inline-block;
    margin: 15px 0;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f97c92;
    font-weight: bold;
    cursor: pointer;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1 {
    width: 15px;
    height: 15px;
    background: #f97c92;
    display: inline-block;
}

.line-2 {
    width: 80px;
    height: 1px;
    background: #f97c92;
    display: inline-block;
}

.line-3 {
    width: 60px;
    height: 1px;
    background: #f97c92;
    display: inline-block;
}

.line {
    line-height: 8px;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f97c92;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

/*----About---*/
#about,
#offer {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
}


.about-right-col {
    flex-basis: 50%;
    text-align: right;
}

.about-right-col img {
    width: 100%;
}

.about-text {
    width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h2 {
    margin: 50px 0px 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3 {
    color: #777;
    font-size: 20px;
    font-style: italic;
}

/* End of About style */


/* Start of Feature section */

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-col {
    flex-basis: 25%;
    text-align: center;
}

.feature-col img {
    width: 100px;
}

.feature-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

/* End of Feature section */
/* feature button */
.features-btn {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.features-btn .line {
    text-align: right;
    margin-right: 25px;
    display: inline-block;
}

/* Start of Courses */
#courses {
    padding: 100px 0;
}

.course-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-right-col {
    flex-basis: 50%;
}

.course-right-col img {
    width: 100%;
}

.course-left-col {
    flex-basis: 50%;
}

.course-text {
    width: 350px;
}

.course-text button {
    margin: 30px 0;
}

/* End of Courses */

/* offer */
#offer button {
    margin: 30px 0;
}